NODE_ENV=development
PORT=5000

DATABASE_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PAYSTACK_SECRET_KEY=
PAYSTACK_PLAN_CODE=

DOJAH_APP_ID=
DOJAH_SECRET_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

OTP_EXPIRY_MINUTES=10
OTP_CODE_LENGTH=6

GOOGLE_CLIENT_ID=