node_modules
dist/
build/
.env
.env.test
.env.local
.env.*.local
logs/
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
.tsbuildinfo
drizzle/
coverage/
*.pem
.npm-global